html,body{
    height: 100%;
    width: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 1px solid rgb(118, 255, 248);
    /* background-color: aliceblue; */
}

.row{
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex: 1 1 auto;
    /* min-height: 2px;
    min-width: 2px; */
}


.square{

    /* border: 1px solid rgb(67, 4, 255); */
    flex: 1 1 auto;
    /* min-height: 2px;
    min-width: 2px;
} */